@model ChalmersxTools.Models.View.EarthSpheresImageToolViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EarthSpheresImageToolView</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form>
            <div>
                <label for="sphere1Url">Image 1</label>
                <input id="sphere1Url" type="url" style="width: 74%;" />
                <select style="width: 24%;">
                    <option value="geosphere">Geosphere</option>
                    <option value="atmosphere">Atmosphere</option>
                    <option value="biosphere">Biosphere</option>
                    <option value="hydrosphere">Hydrosphere</option>
                    <option value="cryosphere">Cryosphere</option>
                </select>
            </div>
            <div>
                <label for="sphere2Url">Image 2</label>
                <input id="sphere2Url" name="" type="url" style="width: 74%;" />
                <select style="width: 24%;">
                    <option value="geosphere">Geosphere</option>
                    <option value="atmosphere">Atmosphere</option>
                    <option value="biosphere">Biosphere</option>
                    <option value="hydrosphere">Hydrosphere</option>
                    <option value="cryosphere">Cryosphere</option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>
