@model ChalmersxTools.Models.View.EarthSpheresImageToolViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EarthSpheresImageToolView</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>BEWARE THE EARTH'S SPHERES!</h1>
    </div>
</body>
</html>
