@model ChalmersxTools.Models.StdError
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StdErrorView</title>
</head>
<body>
    <div>
        <h1>ERROR</h1>
        <p>@Model.Message</p>
    </div>
</body>
</html>
